<a href="https://colab.research.google.com/github/Pithon-hub/Mini_loops/blob/main/Mini_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
# 1. Print numbers from 1 to 10
# Output:
# 1
# 2
# ...
# 10
for integer in range(1,11):
  print(integer)

1
2
3
4
5
6
7
8
9
10

In [45]:
#2. Print even numbers between 1 and 20
# Output:
# 2, 4, 6, ..., 20
for integer in range(2,21,2):
  print(integer,end=",")

2,4,6,8,10,12,14,16,18,20,

In [46]:
# 3. Print the square of numbers from 1 to 5
# Output:
# 1 4 9 16 25
for integer in range(1,6):
  print(integer*integer,end=" ")

1 4 9 16 25

In [47]:
# 4. Print each character in the word "Python"
# Output:
# P
# y
# t
# h
# o
# n
for letter in "Python":
  print(letter)

P
y
t
h
o
n

In [48]:
# 5. Loop through this list and print names:
names = ["Alice", "Bob", "Charlie"]
for name in names:
  print(name)

Alice
Bob
Charlie

In [49]:
# 6. Print numbers from 5 to 1
# Output:
# 5
# 4
# 3
# 2
# 1
for number in range(5,0,-1):
  print(number)

5
4
3
2
1

In [50]:
# 7. Keep asking the user to enter a password until they type "secret"
# Output:
# Try again... until correct
password = input("Enter password: ")
while True:
  if password == "secret":
    print("Correct password")
    break
  elif password != "secret":
    password = input("Try again: ")

Enter password: gfg
Try again: jhj
Try again: secret
Correct password

In [51]:
# 8. Ask the user to enter numbers until they enter 0. Then print the sum.
# Input:
# 5
# 3
# 0
# Output:
# Total: 8
total = 0
while True:
  number = int(input("Enter number: "))
  if number != 0:
    total += number
  elif number == 0:
    print("Total",total)
    break

Enter number: 8
Enter number: 9
Enter number: 0
Total 17

In [52]:
# 9. Print all numbers from 1 to 20 that are divisible by 3
# Output:
# 3 6 9 12 15 18
for number in range(1,21):
  if number %3 == 0:
    print(number,end=" ")

3 6 9 12 15 18

In [53]:
# 10. From this list, print only the odd numbers:
numbers = [4, 7, 10, 13, 16, 19]
for number in numbers:
  if number %2 !=0:
    print(number)

7
13
19

In [54]:
# 11. Count how many times "apple" appears in the list:
fruits = ["apple", "banana", "apple", "cherry", "apple"]
count=fruits.count("apple")
print(count)

3

In [55]:
# 12. Use a loop to reverse a string:
# Input:
# "hello"
# Output:
# "olleh"
string = input("Enter string: ")
reverse = string[::-1]
print(reverse)

Enter string: hello
olleh

In [56]:
# 13. Print a simple triangle of stars:
# Output:
# *
# **
# ***
# ****
# *****
for integer in range(1,6):
  print("*" * integer)

*
**
***
****
*****

In [57]:
# 14. Use a loop to calculate the factorial of a number:
# Input:
# 5
# Output:
# 120
number = int(input("Enter number: "))
factorial = 1
for integer in range(1,number+1):
  factorial *= integer
  print(factorial)

Enter number: 5
1
2
6
24
120

In [58]:
# 15. Loop from 1 to 100 and:
# Print "Hit" if divisible by 3
# Print "Miss" if divisible by 5
# Print "Jackpot" if divisible by both
for integer in range(1,101):
  if integer %3 == 0 and integer %5 == 0:
    print(integer,"Jackpot")
  if integer %3 == 0:
    print(integer,"Hit")
  elif integer %5 == 0:
    print(integer,"Miss")

3 Hit
5 Miss
6 Hit
9 Hit
10 Miss
12 Hit
15 Jackpot
15 Hit
18 Hit
20 Miss
21 Hit
24 Hit
25 Miss
27 Hit
30 Jackpot
30 Hit
33 Hit
35 Miss
36 Hit
39 Hit
40 Miss
42 Hit
45 Jackpot
45 Hit
48 Hit
50 Miss
51 Hit
54 Hit
55 Miss
57 Hit
60 Jackpot
60 Hit
63 Hit
65 Miss
66 Hit
69 Hit
70 Miss
72 Hit
75 Jackpot
75 Hit
78 Hit
80 Miss
81 Hit
84 Hit
85 Miss
87 Hit
90 Jackpot
90 Hit
93 Hit
95 Miss
96 Hit
99 Hit
100 Miss

In [59]:
# 16. Ask the user how many students are in a class. Then loop to enter each studentâ€™s name and save them to a list. Finally, print the list of students.
total_students = int(input("Enter the number of students in the class: "))
students = []
for i in range(total_students):
  name = input("Enter student name: ")
  students.append(name)
  print(students)

Enter the number of students in the class: 5
Enter student name: Pithon
['Pithon']
Enter student name: Jackson
['Pithon', 'Jackson']
Enter student name: Monicah
['Pithon', 'Jackson', 'Monicah']
Enter student name: Paul
['Pithon', 'Jackson', 'Monicah', 'Paul']
Enter student name: David
['Pithon', 'Jackson', 'Monicah', 'Paul', 'David']